<mat-card *ngIf="car; else loadingBlock" class="example-card">
  <mat-card-header>
    <mat-card-title>      
      <h2 class="mat-h2">{{ car.name }}</h2>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ car.imageUrl }}" alt="{{car.name}} photo">
  <mat-card-content>
    <section class="mat-typography">
      <h3 class="caption"> Price: ${{ car.price }} </h3>
      <p *ngIf="review">{{ review }} </p>
    </section>
  </mat-card-content>
</mat-card>

<ng-template #loadingBlock>Loading...{{ id }}</ng-template>
